h2{
    text-align: center;
}

body{
    background: linear-gradient(45deg, #2b29a2, #1ba356);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#email{
    margin:35px 10px 10px 20px;
}

#pass{
    margin:25px 10px 10px 20px;
}

#login{
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    height: 250px;
    width: 300px
}

#email{
    padding-top: 10px;
}

#signin{
    margin: 20px 10px 10px 20px;
}

#signout{
    margin: 20px 10px 10px 20px;
}

input{
    background: transparent;
    width: 150px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 73px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button{
    width: 75px;
    height: 33px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    left: 25px;
}